{include file="header.tpl"}
{include file="sidebar.tpl"}

<div style="float:right;"><a href="{$WWWROOT}artefact/bookmark">{str tag=allmybookmarks section=artefact.bookmark}</a></div>
{include file="artefact:bookmark:bookmark.tpl" bookmark=$bookmark}

{include file="footer.tpl"}
